/*==============================================================================
  SASS DA PARTE ADMINISTRATIVA
==============================================================================*/
@import "mixins/_mixins";
@import "bibliotecas/cores";
@import "bibliotecas/fontes";
@import "bibliotecas/utilitarios";

body.admin, html.admin {
    min-height: 100%;
}

.area-admin {
    background: $cor-cinza-claro-tesseract;
    color: $cor-preto-tesseract;
    min-height: 100%;

    ul.pagination {
        width: 100%;
        text-align: center;

        li {
            display: inline;
            margin: 0 .3rem;
        }
    }

    .preview-image {
        img {
            max-width: 12rem;
            max-height: 12rem;
        }
    }

    .form-container {
        
    }

}

