/*==============================================================================
  SASS DA PARTE ADMINISTRATIVA
==============================================================================*/

body.admin, html.admin {
    height: 100%;
}

.area-admin {
    background: $cor-cinza-claro-tesseract;
    color: $cor-preto-tesseract;
    height: 100%;

    ul.pagination {
        width: 100%;
        text-align: center;

        li {
            display: inline;
            margin: 0 .3rem;
        }
    }
}

