/*==============================================================================
  SASS DA PARTE ADMINISTRATIVA
==============================================================================*/
@import "mixins/_mixins";
@import "bibliotecas/cores";
@import "bibliotecas/fontes";
@import "bibliotecas/utilitarios";

body.admin, html.admin {
    min-height: 100%;
}

.area-admin {
    background: $cor-cinza-claro-tesseract;
    color: $cor-preto-tesseract;
    min-height: 100%;

    ul.pagination {
        width: 100%;
        text-align: center;

        li {
            display: inline;
            margin: 0 .3rem;
        }
    }

    .preview-image {
        img {
            max-width: 12rem;
            max-height: 12rem;
        }
    }
}

/** Estilos para o Select2 **/
.select2-container--classic .select2-results > .select2-results__options {
    color: $cor-preto-tesseract;
    background-color: $cor-cinza-claro-tesseract-4;
}

/** Escondendo da listagem os que já tiverem selecionados **/
.select2-results__option[aria-selected="true"] {
    display: none;
}

#skill-list {
    li {
        min-height:40px;
    }
}

ul.busca-users-container {
    li.busca-users-item {
        display: inline-block;
        width:20%;

        img {
            width:70%;
        }
    }
}
