
/*==============================================================================
  Definições básicas do site: fontes, cores de link, etc
==============================================================================*/

body {
  margin: -1;
  padding: -1;
  font-size: 14px;
  font-family: $font-family-jaapokki-regular;
  color: white;
  background-color: #1D1D1D;
  overflow-x: hidden;
}

#menu-principal{
  display: block;
  position: fixed;
  background-color: $cor-preto;
  // height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 60px;
  @include transition (height 2s);
  @include transition (background-color 2s);
  .navbar-logo{
    text-decoration: none;

    img{
      //    height: 50vh;
      height: 45px;
      width: auto;
      position: relative;
      //top: 20%;
      @include transition (height 2s);
    }
    h1{
      display:none;
      position: relative;
      top: 20%;
      color: $cor-branco;
      font-size: 5rem;
      text-align: center;
      @include transition (opacity 2s);
    }

  }
  ul li a{
    text-transform: lowercase;
    text-decoration: none;
    color: $cor-branco;
  }
}

#intro {
  .cd-intro{
    &:before{
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 1;
      opacity: .20;
      background:
        radial-gradient(circle farthest-side at 0% 50%,#7F7F7F 23.5%,rgba(0,0,0,0.2) 0)21px 30px,
        radial-gradient(circle farthest-side at 0% 50%,#252525 24%,rgba(25,25,25,0) 0)19px 30px,
        linear-gradient(#7F7F7F 14%,rgba(25,25,25,0) 0, rgba(25,25,25,0) 85%,#7F7F7F 0)0 0,
        linear-gradient(150deg,#7F7F7F 24%,#252525 0,#252525 26%,rgba(25,25,25,0) 0,rgba(25,25,25,0) 74%,#252525 0,#252525 76%,#7F7F7F 0)0 0,
        linear-gradient(30deg,#7F7F7F 24%,#252525 0,#252525 26%,rgba(25,25,25,0) 0,rgba(25,25,25,0) 74%,#252525 0,#252525 76%,#7F7F7F 0)0 0,
        linear-gradient(90deg,#252525 2%,#7F7F7F 0,#7F7F7F 98%,#252525 0%)0 0 #7F7F7F;
        background-size: 40px 60px;
      }
      $bgimg: random(5);
      position: relative;
      width: 100vw;
      height: 100vh;
      z-index: 0;
      background-image: url("/img/jpg/background/bg0#{$bgimg}.jpg");
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      .cd-headline{
        position: relative;
        top: 35%;
        text-shadow: -1px 3px 3px rgba(150, 150, 150, 0.75);
        z-index: 3;
      }
  }
}
#portfolio {
  h2 {
    font-size: 2em;
  }
  .parallax {
    font-size: 2em;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    a {
      color: white;
    }
  }
  .parallax {
    background-size: cover;
    background-position: center center;
  }
  .parallax-broove {
    background-image: url('/img/jpg/portfolio/broove.jpg');
  }
  .parallax-yeswequero {
    background-image: url('/img/jpg/portfolio/yeswequero.jpg');
  }
  .parallax-groch {
    background-image: url('/img/jpg/portfolio/grochfilmes.jpg');
  }
  .parallax-vivala {
    background-image: url('/img/jpg/portfolio/vivala.jpg');
  }
}
#institucional {
  background-color: #fffcf5;
  color: #1d1d1d;
  text-align: center;
  .alinha-assinatura {
    display: inline-block;
    float: right;
    text-align: left;
  }
}

#equipe {
  width: 100vw;
  background-color: #fffcf5;
  color: #1d1d1d;
  padding-bottom: 2em;
  h2 {
    padding-top: 0.7em;
    padding-bottom: 1em;
    font-size: 4em;
  }
  img {
    width:100%;
  }
  .conteudo-texto-grande {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    color: white;
    background-color: rgba(0,0,0, 0.7);
    opacity: 0;
    transition: opacity 1s;
    padding:0.5em;
  }
  ul {
    list-style: none;
    li {
      &:hover .conteudo-texto-grande {
        opacity: 1;
      }
    }
  }
  ul.social-links {
    position: absolute;
    bottom: 0.2em;
    right: 0.2em;
    li {
      position:relative;
      float:right;
      a {
        vertical-align: middle;
        display: inline-block;
        color: white;
        font-size: 1.2em;
        margin: 0.2em;
      }
    }
  }
  .grid-item {
    width: 145px;
    margin-bottom: 26px;
    img { width:145px; height:145px;}
  }
  .grid-item-2 {
    width: 316px;
    font-size: 1.5em;
    img { width:316px; height:316px;}
   }
  .grid-item-3 { width: 420px; }
}

#contato {
  color: #fffcf5;
  input,
  textarea {
    border-radius: 0;
  }
  label {
    font-size: 1.7em;
    margin-bottom: 0;
  }
  input[type="submit"] {
    background-color:transparent;
    border: none;
    color: #fffcf5;
    float:right;
    font-size: 2em;
    cursor: pointer;
  }
}
.contato-container {
  position: relative;
  padding-top: 1em;
  &:before {
    content: ' ';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    background-color: #eee;
    background-image: url('/img/png/bgcells.png');
    background-repeat: repeat;
    background-size: auto 100%;
    height:20px;
  }
}

#footer{
  background-color: $cor-branco;
  .footer-logo{
    height:15vh;
    margin: 0 auto;
  }
  .inline-social-media{
    display: block;
    padding: 0;
    margin: 0;
    .inline-block-social-media{
      display: inline-block;
      a{
        text-decoration: none;
        i{
          color: $cor-preto;
          &:hover{

          }
        }
      }
    }
  }
}
