
/*==============================================================================
  Definições básicas do site: fontes, cores de link, etc
==============================================================================*/

body {
  margin: -1;
  padding: -1;
  font-size: 14px;
  font-family: $font-family-jaapokki-regular;
  color: white;
  background-color: #1d1d1d;
}

#menu-principal{
  background-color: transparent;
  .navbar-logo{
    height: 11vh;
  }
  li a{
    text-transform: lowercase;
    text-decoration: none;
    color: $cor-branco;
  }
}

.header-tesseract {
  background-image: url("/img/jpg/bighero.jpg");
  font-family: $font-family-jaapokki-regular;
  background-position: center center;
  padding-top: 10em;
  position: relative;
  width: 100%;
  height: 50vh;
  float: left;
}
#equipe {
  background-color: #fffcf5;
  color: #1d1d1d;
}
#contato {
  color: #fffcf5;
  input,
  textarea {
    border-radius: 0px;
  }
  label {
    font-size: 2em;
    margin-bottom: 0px;
  }
  input[type="submit"] {
    background-color:transparent;
    border: none;
    color: #fffcf5;
    float:right;
    font-size: 2em;
    cursor: pointer;
  }
}
.contato-container {
  position: relative;
  padding-top: 1em;
  &:before {
    content: ' ';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    background-color: #eee;
    background-image: url('/img/png/bgcells.png');
    background-repeat: repeat;
    background-size: auto 100%;
    height:20px;
  }
}

#footer{
  background-color: $cor-branco;
  .footer-logo{
    height:15vh;
    margin: 0 auto;
  }
  .inline-social-media{
    display: block;
    padding: 0;
    margin: 0;
    .inline-block-social-media{
      display: inline-block;
      a{
        text-decoration: none;
        i{
          color: $cor-preto;
          &:hover{

          }
        }
      }
    }
  }
}
