.texto-minusculo{
	text-transform: lowercase;
}

.texto-maiusculo{
	text-transform: uppercase;
}

.texto-capitalizado{
	text-transform: capitalize;
}

.texto-sem-decoracao{
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.padding-4 {
	padding: 4em;
}
