/*
* 	VARIÁVEIS
*/
	$fa-un:1em;
	$padding-un:1em;
	$margin-un:1em;
	$border-un:1em;

/*
*	Fontes
*/
	// EDMOND-SANS
	// JAAPOKKI
		.font-jaapokki-regular{
			font-family: $font-family-jaapokki-regular;
		}
		.font-jaapokki-enhance {
			font-family: $font-family-jaapokki-enhance;
		}
		.font-jaapokki-subtract {
			font-family: $font-family-jaapokki-subtract;
		}

/*
* 	Textos em Geral
*/
	.texto-minusculo{
		text-transform: lowercase;
	}
	.texto-maiusculo{
		text-transform: uppercase;
	}
	.texto-capitalizado{
		text-transform: capitalize;
	}
	.texto-sem-decoracao{
		text-decoration: none;
	}

/*
*	FontAwesome - More icon sizes
*/
	.fa-0-1x {
		font-size: 0.1*$fa-un;
	}
	.fa-0-2x {
		font-size: 0.2*$fa-un;
	}
	.fa-0-3x {
		font-size: 0.3*$fa-un;
	}
	.fa-0-4x {
		font-size: 0.4*$fa-un;
	}
	.fa-0-5x {
		font-size: 0.5*$fa-un;
	}
	.fa-0-6x {
		font-size: 0.6*$fa-un;
	}
	.fa-0-7x {
		font-size: 0.7*$fa-un;
	}
	.fa-0-8x {
		font-size: 0.8*$fa-un;
	}
	.fa-0-9x {
		font-size: 0.9*$fa-un;
	}
	.fa-1-1x{
		font-size: 1.1*$fa-un;
	}
	.fa-1-2x{
		font-size: 1.2*$fa-un;
	}
	.fa-1-3x{
		font-size: 1.3*$fa-un;
	}
	.fa-1-4x{
		font-size: 1.4*$fa-un;
	}
	.fa-1-5x{
		font-size: 1.5*$fa-un;
	}
	.fa-1-6x{
		font-size: 1.6*$fa-un;
	}
	.fa-1-7x{
		font-size: 1.7*$fa-un;
	}
	.fa-1-8x{
		font-size: 1.8*$fa-un;
	}
	.fa-1-9x{
		font-size: 1.9*$fa-un;
	}
	.fa-6x{
		font-size: 6*$fa-un;
	}
	.fa-7x{
		font-size: 7*$fa-un;
	}
	.fa-8x{
		font-size: 8*$fa-un;
	}
	.fa-9x{
		font-size: 9*$fa-un;
	}
	.fa-10x{
		font-size: 10*$fa-un;
	}

/*
*	Animações do Menu
*/
// Cima para Baixo
	.sliding-cima-pra-baixo {
		display: inline-block;
	}
	.sliding-cima-pra-baixo:after {
		content: '';
		display: block;
		height: 0;
		width: 100%;
		background: transparent;
		-webkit-transition: height .5s ease, background-color .5s ease;
		-moz-transition: height .5s ease, background-color .5s ease;
		transition: height .5s ease, background-color .5s ease;
	}
	.sliding-cima-pra-baixo:hover:after {
		height: 3px;
		background: white;
	}

	// Baixo para Cima

// Baixo para Cima
	.sliding-baixo-para-cima {
		display: inline-block;
		position: relative;
	}
	.sliding-baixo-para-cima:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0px;
		width: 100%;
		background: transparent;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.sliding-baixo-para-cima:hover:after {
		height: 3px;
		background: white;
	}

// Esquerda para Direita
	.sliding-esquerda-para-direita {
		display: inline-block;
	}
	.sliding-esquerda-para-direita:after {
		content: '';
		display: block;
		height: 3px;
		width: 0;
		background: transparent;
		-webkit-transition: width .5s ease, background-color .5s ease;
		-moz-transition: width .5s ease, background-color .5s ease;
		transition: width .5s ease, background-color .5s ease;
	}
	.sliding-esquerda-para-direita:hover:after {
		width: 100%;
		background: white;
	}

// Direita para Esquerda
	.sliding-direita-para-esquerda {
	    display: inline-block;
	    position: relative;
	    padding-bottom: 3px;
	}
 
	.sliding-direita-para-esquerda:after {
	    content: '';
	    display: block;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    height: 3px;
	    width: 0;
	    background: transparent;
	    -webkit-transition: width .5s ease, background-color .5s ease;
		-moz-transition: width .5s ease, background-color .5s ease;
	    transition: width .5s ease, background-color .5s ease;
	}
	 
	.sliding-direita-para-esquerda:hover:after {
	    width: 100%;
	    background: white;
	}

// Meio para Fora
	.sliding-meio-fora {
		display: inline-block;
		position: relative;
		padding-bottom: 2px;
	}
	.sliding-meio-fora:after {
		content: '';
		display: block;
		margin: auto;
		height: 3px;
		width: 0px;
		background: transparent;
		-webkit-transition: width .5s ease, background-color .5s ease;
		-moz-transition: width .5s ease, background-color .5s ease;
		transition: width .5s ease, background-color .5s ease;
	}
	.sliding-meio-fora:hover:after {
		width: 100%;
		background: white;
	}

// In/Off
	.sliding-in-off {
	    display: inline-block;
	    position: relative;
	    padding-bottom: 3px;
	}
	.sliding-in-off:before {
	    content: '';
	    display: block;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    height: 3px;
	    width: 0;
	    -webkit-transition: width 0s ease, background .5s ease;
		-moz-transition: width 0s ease, background .5s ease;
	    transition: width 0s ease, background .5s ease;
	}
	.sliding-in-off:after {
	    content: '';
	    display: block;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    height: 3px;
	    width: 0;
	    background: white;
	    -webkit-transition: width .5s ease;
		-moz-transition: width .5s ease;
	    transition: width .5s ease;
	}
	.sliding-in-off:hover:before {
	    width: 100%;
	    background: white;
	    -webkit-transition: width .5s ease;
		-moz-transition: width .5s ease;
	    transition: width .5s ease;
	}
	.sliding-in-off:hover:after {
	    width: 100%;
	    background: transparent;
	    -webkit-transition:  all 0s ease;
		-moz-transition:  all 0s ease;
	    transition: all 0s ease;
	}

// In/Off Inverso
	.sliding-in-off-inverso {
	    display: inline-block;
	    position: relative;
	    padding-bottom: 3px;
	}
	.sliding-in-off-inverso:before {
	    content: '';
	    display: block;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    height: 3px;
	    width: 100%;
	    -webkit-transition: width 0s ease;
		-moz-transition: width 0s ease;
	    transition: width 0s ease;
	}
	.sliding-in-off-inverso:after {
	    content: '';
	    display: block;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    height: 3px;
	    width: 100%;
	    background: white;
	    -webkit-transition: width .5s ease;
		-moz-transition: width .5s ease;
	    transition: width .5s ease;
	}
	.sliding-in-off-inverso:hover:before {
	    width: 0%;
	    background: white;
	    -webkit-transition: width .5s ease;
		-moz-transition: width .5s ease;
	    transition: width .5s ease;
	}
	.sliding-in-off-inverso:hover:after {
	    width: 0%;
	    background: transparent;
	    -webkit-transition: width 0s ease;
		-moz-transition: width 0s ease;
	    transition: width 0s ease;
}